<div *ngIf="categories">
    <ul class="list-group" *ngFor="let category of categories">
        <li class="list-group-item list-group-item-action col-4 text-center" [routerLink]="['/categories', category.id]">{{category.title}}</li>
    </ul>
</div>








<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
</nav>